.DashboardContainer{
    /* background-color: aliceblue; */
    position: relative;
    left:17%;
    width: 80%;
    height: 95dvh;
    padding: 20px;
    overflow-y: scroll;
    animation: show 0.5s ease-in-out;
}
@keyframes show {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
::-webkit-scrollbar{
    display: none;
}